{{ define "header" }}
{{ template "navbar.tmpl" . }}
{{ end }}
{{ define "content" }}
<h1 class="blue">Software Engineer / Applied Math</h1>
<h2>Education</h2>
<li>2000-2006 PhD Applied Math, Stockholm University</li>
<li>1998-2000 MSc Scientific Computing, Royal Inst. of Techn. (KTH)</li>
<li>1994-1998 BSc Comp. Science, Stockholm University</li>
<h2>Experience</h2>
<li>
  2022 Aug - 2023 Mar, Software Developer - Spectacle LLC <br />
  Developed BERT-model with tensorflow, created micro-services, and migrated to
  AWS EKS, with Kubernetes, using node.js and python. We used gRPC for the APIs.
  Other services include language translation, and NSFW-classifiers, using
  existing python packages.
</li>
<li>
  2009-2020 Scientific Researcher - Total E&P USA <br />
  Developed computational methods using highly parallel algorithms on large
  clusters. I developed Optimized Finite Differences for various wave
  propagation problems, which leads to fast and accurate computations in seismic
  imaging and full waveform inversion. I was responsible for the Discontinuous
  Galerkin wave propagation algorithms, using unstructured meshes, for seismic
  applications. We used Atlassian as a collaborative environment for our team.
</li>
<li>
  2006-2009 PostDoc - Memorial University, St John's, Canada <br />
  Developed Finite Difference Methods and Eikonal Equations for seismic
  problems. Developed a staggered grid Finite Difference solver that was used
  inverting dispersive surface waves.
</li>
<h2>Skills</h2>
<li>Problem solving</li>
<li>Computer algorithms</li>
<li>Machine learning algorithms</li>
<li>Backend development - go, rust, C, C++, node.js, python</li>
<li>Frontend development - HTML, CSS, javascript, React, Svelte</li>

{{ end }}
